
= simple_form_for(@key, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.collection_select :project, Project.web,    :id, :name
    = f.input             :name

  .form-actions
    = f.button :submit, :class => "btn-primary"
