.page-header
  - if can? :new_key
    = link_to new_key_path, :class => 'btn btn-primary' do
      %i.icon-plus.icon-white
      = t '.new'
  %h1= t '.listing'

= paginate(@keys)

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= t('.project')
      %th= t('.name')
      %th
      %th
      %th

  %tbody
    - @keys.each do |key|
      %tr
        %td= key.project.try(:name)
        %td= key.name
      - if can? :key, key
        %td= link_to 'Show', key
      - if can? :key, key, :destroy
        %td= link_to 'Destroy', key, :confirm => 'Are you sure?', :method => :delete

= paginate(@keys)
