.page-header
  = link_to keys_path, :class => 'btn' do
    %i.icon-list-alt
    = t('simple_form.back')
  = link_to edit_key_path(@key), :class => 'btn btn-primary' do
    %i.icon-pencil.icon-white
    = t('simple_form.edit')
  %h1= t('.listing')

%dl
  %dt= t('.name')
  %dd= @key.name
