.page-header
  - if can? :users
    = link_to users_path, :class => 'btn' do
      %i.icon-list-alt
      = t('simple_form.back')
  - if can? :user, @user
    = link_to @user, :class => 'btn btn-primary' do
      %i.icon-info-sign.icon-white
      = t('simple_form.show')
  %h1= t('simple_form.user.edit')

= render 'form'
