.page-header
- if can? :new_user
  = link_to new_user_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New User
  %h1 Listing users

= paginate(@users)

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= t('simple_form.user.email')
      %th= t('simple_form.user.name')
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        - if can? :user, user
          %td= link_to 'Show', user
        - if can? :edit_user, user
          %td= link_to 'Edit', edit_user_path(user)
        - if can? :user, user, :delete
          %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

= paginate @users
