.page-header
- if can? :project_locales
  = link_to project_locales_path, :class => 'btn' do
    %i.icon-list-alt
    = t('simple_form.back')
  %h1= t('.listing')

%dl
  %dt= t('.name')
  %dd= @project_locale.locale.try(:name)
  %dd= @project_locale.project.try(:name)
