.page-header
- if can? :new_member
  = link_to new_member_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    = t '.new'
  %h1= t '.listing'

= paginate(@members)

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= t('.project')
      %th= t('.user')
      %th= t('.role')
      %th
      %th
      %th

  %tbody
    - @members.each do |member|
      %tr
        %td= member.user.try(:email)
        %td= member.project.try(:name)
        %td= member.role.try(:name)
        - if can? :member, member
          %td= link_to 'Show', member
        - if can? :edit_member, member
          %td= link_to 'Edit', edit_member_path(member)
        - if can? :member, member, :destroy
          %td= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete

= paginate(@members)
