.page-header
  - if can? :members
    = link_to members_path, :class => 'btn' do
      %i.icon-list-alt
      = t('simple_form.back')
  - if can? :edit_member, @member
    = link_to edit_member_path(@member), :class => 'btn btn-primary' do
      %i.icon-pencil.icon-white
      = t('simple_form.edit')
  %h1= t('simple_form.member.show.listing_members')

%dl
  %dt= t('.name')
  %dd= @member.user.try(:name)
