.page-header
  - if can? :new_locale
    = link_to new_locale_path, :class => 'btn btn-primary' do
      %i.icon-plus.icon-white
      = t '.new'
  %h1= t '.listing'

= paginate(@locales)

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= t('.name')
      %th
      %th
      %th

  %tbody
    - @locales.each do |locale|
      %tr
        %td= locale.name
        - if can? :locale, locale
          %td= link_to 'Show', locale
        - if can? :locale, locale, :destroy
          %td= link_to 'Destroy', locale, :confirm => 'Are you sure?', :method => :delete

= paginate(@locales)
