.page-header
  - if can? :project_key_translations
    = link_to project_key_translations_path, :class => 'btn' do
      %i.icon-list-alt
      = t('simple_form.back')
  %h1= t('.listing')

%dl
  %dt= t('.name')
  %dd= @translation.key
  %dd= @translation.data
